/CalastoneWordFilterer.sln.DotSettings.user
/WordFiltererTestProject/bin
/WordFiltererTestProject/obj
*.cache
CalastoneWordFilters/obj/CalastoneWordFilterer.csproj.nuget.dgspec.json
CalastoneWordFilters/obj/CalastoneWordFilterer.csproj.nuget.g.props
CalastoneWordFilters/obj/CalastoneWordFilterer.csproj.nuget.g.targets
CalastoneWordFilters/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
CalastoneWordFilters/obj/Debug/netcoreapp3.1/CalastoneWordFilterer.AssemblyInfo.cs
CalastoneWordFilters/obj/Debug/netcoreapp3.1/CalastoneWordFilterer.csproj.FileListAbsolute.txt
CalastoneWordFilters/obj/Debug/netcoreapp3.1/CalastoneWordFilterer.dll
CalastoneWordFilters/obj/Debug/netcoreapp3.1/CalastoneWordFilterer.exe
CalastoneWordFilters/obj/Debug/netcoreapp3.1/CalastoneWordFilterer.pdb
CalastoneWordFilters/obj/project.assets.json
CalastoneWordFilters/bin/Debug/netcoreapp3.1/CalastoneWordFilterer.runtimeconfig.json
CalastoneWordFilters/bin/Debug/netcoreapp3.1/CalastoneWordFilterer.runtimeconfig.dev.json
CalastoneWordFilters/bin/Debug/netcoreapp3.1/CalastoneWordFilterer.pdb
CalastoneWordFilters/bin/Debug/netcoreapp3.1/CalastoneWordFilterer.exe
CalastoneWordFilters/bin/Debug/netcoreapp3.1/CalastoneWordFilterer.dll
CalastoneWordFilters/bin/Debug/netcoreapp3.1/CalastoneWordFilterer.deps.json
.vs/CalastoneWordFilterer/v16/.suo
